/************** Lists of stories *************/

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/*******************88 checkboxes ***************/

.story-container {
  display: flex;
  align-items: center;
}

/* star and trashbin checkbox */
.star-checkbox, .trashbin-checkbox {
  margin-right: 10px; 
}

/* trashbin checkbox */
.trashbin-checkbox {
  position: relative;
}

.trashbin-img {
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"] {
  opacity: 0; 
  width: 15px; 
  height: 15px; 
}

/* trasbin img*/
img{
  height: 22px;
}

.trashbin-input label::before {
  display: inline-block;
  font-size: 22px;
  color: gray; 
 }

.trashbin-checkbox:hover {
  filter: brightness(70%);
  background-color: red;
} 

/* star checkbox */
.star-checkbox input[type="checkbox"] {
  display:none;
}

.star-checkbox label::before {
  content: "\2605"; /* Unicode for a star*/
  display: inline-block;
  font-size: 20px;
  color: #ddd; /* Color for unchecked star */
}

.star-checkbox input[type="checkbox"]:checked + label::before {
  color: grey;
}


/**************** Individual stories ***********************/

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

small.story-hostname {
  display: inline;
  font-size: 10px;
  margin-left: 2px;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  display: block;
  font-size: 0.85rem;
  color: green;
}

.story-user {
  display: block;
  color: orange;
  font-size: 0.85rem;
}
