/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* star checkbox */
.star-checkbox input[type="checkbox"] {
  display:none;
}

.star-checkbox label::before {
  content: "\2605"; /* Unicode for a star*/
  display: inline-block;
  font-size: 25px;
  color: #ddd; /* Color for unchecked star */
}

.star-checkbox input[type="checkbox"]:checked + label::before {
  color: grey;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}
